@import './base.css';

@font-face {
  font-family: 'Jura';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local('Jura'),
    url('/fonts/Jura-VariableFont_wght.ttf') format('ttf'),
    url('/fonts/Jura-VariableFont_wght.ttf') format('ttf');
}

a,
h1,
h2 {
  color: #f6b352;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
}
