@import './base.css';

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Jura';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local('Jura'),
    url('/fonts/Jura-VariableFont_wght.ttf') format('ttf'),
    url('/fonts/Jura-VariableFont_wght.ttf') format('ttf');
}

a,
h1,
h2,
h3,
h4,
p {
  color: #e6e6e6;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
